<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>ai.forge.dispatch-executor</string>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/python3</string>
    <string>/Users/ichris/.dispatch-executor/executor.py</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/ichris/.dispatch-executor</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/ichris</string>
    <key>PATH</key>
    <string>/Users/ichris/.local/bin:/Users/ichris/.npm-global/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>EXECUTOR_PORT</key>
    <string>4100</string>
    <key>USER</key>
    <string>ichris</string>
    <key>LOGNAME</key>
    <string>ichris</string>
    <key>SHELL</key>
    <string>/bin/zsh</string>
    <key>LANG</key>
    <string>en_US.UTF-8</string>
    <key>LC_ALL</key>
    <string>en_US.UTF-8</string>
    <key>TERM</key>
    <string>xterm-256color</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/ichris/.dispatch-executor/executor.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/ichris/.dispatch-executor/executor.err.log</string>
</dict>
</plist>
